<p id="notice"><%= notice %></p>

<p>
  <strong>Left:</strong>
  <%= @sole.left %>
</p>

<p>
  <strong>Activated:</strong>
  <%= @sole.activated %>
</p>

<%= link_to 'Edit', edit_sole_path(@sole) %> |
<%= link_to 'Back', soles_path %>
